@model PublicProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row p-0 justify-content-center">
        <div class="col-md-4">
            <h1>
                @Model.Username
                @if ((User.Identity?.IsAuthenticated ?? false) && User.Identity.Name == Model.Username)
                {
                    <a class="col-md-2 btn btn-outline-primary" asp-controller="Settings" asp-action="Profile">Edit</a>
                }
            </h1>

            @if (Model.About != null)
            {
                <p>@Model.About</p>
            }
            @if (Model.PublicEmail != null)
            {
                <p>@Model.PublicEmail</p>
            }
            @if (Model.Website != null)
            {
                <p>@Model.Website</p>
            }
        </div>
    </div>
</div>