@model PublicProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="col-1">@Model.Username</h2>
            @if ((User.Identity?.IsAuthenticated ?? false) && User.Identity.Name == Model.Username)
            {
                <a class="col-1" asp-controller="Settings" asp-action="Profile">Edit</a>
            }
        </div>
    </div>
    @if (Model.About != null)
    {
        <p>@Model.About</p>
    }
    @if (Model.PublicEmail != null)
    {
        <p>@Model.PublicEmail</p>
    }
    @if (Model.Website != null)
    {
        <p>@Model.Website</p>
    }
    
</div>