@model PublicProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="col-1">@Model.Username</h2>
            @if ((User.Identity?.IsAuthenticated ?? false) && User.Identity.Name == Model.Username)
            {
                <a class="col-1" asp-controller="Settings" asp-action="Profile">Edit</a>
            }
        </div>
    </div>
    @if (Model.About != null)
    {
        <p>@Model.About</p>
    }

    @foreach (var link in Model.SocialLinks)
    {
        <p>@link.Key</p>
        <p>@link.Value</p>
    }
</div>