@model EditAssetFormModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <partial name="_PublishAssetPartial" model="new Tuple<bool, string>(Model.AssetInfoModel.IsPublished, Model.AssetInfoModel.AssetId.ToString())" />
    
    <div class="row justify-content-center pt-3">
        <partial name="_EditAssetInfoPartial" model="@Model.AssetInfoModel" />
    </div>
    <div class="row justify-content-center pt-3">
        <partial name="_UpdateAssetFilePartial" model="@Model.AssetFileModel" />
    </div>
    <div class="row justify-content-center pt-3">
        <partial name="_DeleteAssetPartial" model="@Model.DeleteModel" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}