@model AssetCardViewModel

@{
    var price = Model.Price == null ? "FREE" : $"${Model.Price:f2}";
}

<div class="col">
    <div class="card mb-3 bg-black shadow border-light h-100" style="max-width: 320px;">
        <a asp-area="" asp-controller="Shop" asp-action="Asset" asp-route-id="@Model.Id" class="stretched-link"></a>
        <div class="ratio ratio-16x9">
            <img src="@Model.ImageUrl" class="card-img" alt="...">
        </div>
        <div class="card-body">
            <div class="d-flex flex-column justify-content-end align-items-end">
                <h5 class="card-title">@Model.AssetName</h5>
                <p class="card-text">@price</p>
            </div>
        </div>
    </div>
</div>