@using GameAssetsStore.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity?.Name</a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end">
                <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="PublicProfile" asp-route-username="@User.Identity?.Name">Profile</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Asset Library</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Settings" asp-action="Profile">Settings</a></li>
                @if (User.HasClaim(c => c.Type == "urn:shop:shopId"))
                {
                    <li><a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Assets">Shop</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item dropdown-item">
                    <form class="form-inline g-0" asp-area="" asp-controller="Account" asp-action="SignOut">
                        <button type="submit" class="nav-link btn btn-link text-white">Sign Out</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item p-1">
            <a class="btn btn-outline-light" asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a>
        </li>
        <li class="nav-item p-1">
            <a class="btn btn-outline-light" asp-area="" asp-controller="Account" asp-action="SignIn">Sign In</a>
        </li>
    }
</ul>
