
<div class="container">
    <div class="list-group list-group-flush border">
        <a asp-controller="Settings" asp-action="Profile" class="list-group-item">Profile</a>
        <a class="list-group-item">Account</a>
        <a class="list-group-item">Socials</a>
        <a asp-controller="Settings" asp-action="Shop" class="list-group-item">Shop</a>
    </div>
</div>