
<div class="container">
    <div class="list-group list-group-flush border">
        <a class="list-group-item">Profile</a>
        <a class="list-group-item">Account</a>
        <a class="list-group-item">Socials</a>
    </div>
</div>