
<div class="container">
    <div class="list-group list-group-flush border">
        <a asp-controller="Settings" asp-action="Profile" class="list-group-item list-group-item-action">Profile</a>
        <a class="list-group-item list-group-item-action">Asset Library</a>
        <a asp-controller="Settings" asp-action="Account" class="list-group-item list-group-item-action">Account</a>
        <a class="list-group-item list-group-item-action">Socials</a>
        <a asp-controller="Settings" asp-action="Shop" class="list-group-item list-group-item-action">Shop</a>
    </div>
</div>