@model UsernameChangeInputModel

@{
    ViewData["Title"] = "Username Change";
}

<div class="alert alert-danger">
    <h4 class="text-danger">WARNING!!!</h4>
    <p class="text-danger">
        Changing your Username will change the way you sign in and the browser path to your account.
    </p>
</div>

<p>
    After name change you will be asked to log in again.
</p>

<form method="post" asp-controller="Settings" asp-action="ChangeUsername">
    @if (Model.Username != null)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    }
    <div class="form">
        <label asp-for="@Model.Username" class="form-label"></label>
        <input asp-for="@Model.Username" class="form-control bg-black text-light border-secondary" autocomplete="Username" />
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
    </div>
    <br />
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-light">Save</button>
    </div>
    <br />
</form>